<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>新建公告</h2>
    <form action="/announcement/add" method="post">
        <label>公告名称</label>
        <input type="text" name="title" placeholder="请输入公告名称">
        <label>发布人</label>
        <input type="text" name="byAuthor" placeholder="请输入发布人">
        <label>公告内容</label>
        <textarea name="content" placeholder="请输入公告内容"></textarea>
        <label>上传附件</label>
        <input type="text" name="append" placeholder="请输入附件地址">
        <input type="submit" value="新建"/>
    </form>
</body>
</html>